<ion-view view-title="About Treverse">
    <ion-content class="dark_bg user_dashboard">
        <ion-item class="about">
            <h1>About Treverse</h1>
            <br>
            <p>Treverse is a trusted marketplace for people to discover and book accommodations around the world in a new unique, dynamic way. Treverse exists to help anyone looking to book their next stay at a rate they feel is reasonable and affordable. We truly give you the power to set your price and let the hotels decide on whether they would like to agree to your terms and book your next stay.</p>
            <br>
            <p>Did you know on average travellers visit over 35 different booking sites before purchasing? Nearly, taking over 40 days to book their hotel accommodations. Most people do not like to plan a trip, because of the time it takes to find a decent hotel at a rate they can afford closet to where they want to go.</p>
            <br>
            <p>We know our platform will help you book your next stay at a rate that helps you feel comfort and at ease as staying in your own home.</p>
            <h4>Stop looking for the best price, and start booking your next stay with confidence! </h4>
            <h3>Why Choose Treverse?</h3>
            <ul>
                <li>Our hotels are looking to meet your needs at a rate that is beneficial to both parties.</li>
                <li>Reasonable offers get the best accommodations</li>
                <li>Don’t waste countless hours booking your next hotel, set the price and let the hotels make the decision on how they are going to agree to your terms.</li>
            </ul>
            <br>
            <p>We ask you to join our journey as we set out to revolutionize how people travel. We’d love to hear you feedback! Follow us and share your thoughts on <a href="javascript:void(0)">Facebook</a> <a href="javascript:void(0)">Twitter</a> <a href="javascript:void(0)">Instagram</a> feel free to email us directly at  <a href="javascript:void(0)">info@treverseapp.com</a></p>
            <div class="social">
                <a href="javascript:void(0)"><img src="img/fb_icon.png" alt=""></a>
                <a href="javascript:void(0)"><img src="img/tw_icon.png" alt=""></a>
                <a href="javascript:void(0)"><img src="img/inst_icon.png" alt=""></a>
            </div>
        </ion-item>
    </ion-content>
</ion-view>