<ion-view view-title="FAQs">
    <ion-content class="dark_bg user_dashboard">
        <ion-item class="about">
            <h1>Frequently Asked Questions</h1>
            <p>The following questions and answers will help you get a better understanding of the hotel industry, booking process, and how our platform works. Feel free to drop us an email if you do not get your answers below or just want a better understanding.</p>
        </ion-item>
        <div class="how_do_work">
            <h3>How does it work:</h3>
            <div class="border_sec">
                <div class="que_slid">
                    <div class="main_slid">
                        <h3>Is Treverse a free service?</h3>
                        <div class="inner_txt">
                            <p>Yes, the booking service provided by Treverse is a free service. There is no cost to the consumer to be able to book a hotel stay at your own convenience. Memberships are 100% free, and you do not pay any additional fees to us when booking your stay.</p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>How does the app work?</h3>
                        <div class="inner_txt">
                            <p>The app is a simple hotel booking service. The app is connected to a network of hotels that allows you to send an offer as if you were at the front desk speaking to the hotel administration. Yes, you are interacting with a real person with knowledge of their hotel occupancy. The app allows you to search for a destination, set accommodations, send a reasonable offer that is it in a nutshell! All you should do now is wait for a response.</p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>Do hotels pay to be on Treverse?</h3>
                        <div class="inner_txt">
                            <p>No. We partner with hotels to bring you rooms that may have otherwise gone unsold. They pay a small fee per booking to Treverse. We are partnering with new hotels every day to bring you the best options available wherever you travel.</p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>What cities does Treverse partner with Hotels?</h3>
                        <div class="inner_txt">
                            <p>We are currently running pilot programs in a few major cities, but we look to open the system to everywhere in the World you can travel.</p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>How do I know an offer is reasonable?</h3>
                        <div class="inner_txt">
                            <p>We hope that you consider the value of where you are going, and the quality you can expect where you stay. Sure, you can offer a low price, but it may never get accepted. To increase the percentage of getting an Accepted Offer, a reasonable price for your expectations in the place you stay will raise the chances of winning the proposal.
                            </p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>What is an Accepted Offer?</h3>
                        <div class="inner_txt">
                            <p>An Accepted Offer is when you name a price and one of your selections agrees to that price and accepts. When hotels are not at full capacity, they have the power to accept a reasonable offer if the price is right.</p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>Can I book rooms in advance?</h3>
                        <div class="inner_txt">
                            <p>Yes! You put in your desired dates, select your hotels, and then offer the price you feel is reasonable for your stay. Remember, the further out your request goes there is a possibility your request may not get accepted.</p>
                            <p>The beautiful thing is you are not limited to how many offers you can send, but you are liable for every accepted offer. We are connecting you the consumer with the actual hotels to get a more seamless integration and connection with the front desk of every hotel. 
                            </p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>Can I cancel an accepted offer?</h3>
                        <div class="inner_txt">
                            <p>Understand to give you the best possible accepted rates, the hotels are counting on you showing up. Although the service is free, once you book a hotel you are on the hook for that booking. It is up to the hotel’s discretion to accept your cancellation terms.
                            </p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>Can I have more than one booking?</h3>
                        <div class="inner_txt">
                            <p>Yes, we do not limit the amount of bookings you can have at any given time. So we hope you would be considerate of the offers you put out there, because once an offer is accepted you are on the hook for that accepted offer. 
                            </p>
                        </div>
                    </div>
                    <div class="main_slid">
                        <h3>How come my offer was accepted before and not this time?</h3>
                        <div class="inner_txt">
                            <p>Well, considering the peak times and seasons for each hotel can vary, which may cause you to get an accepted offer this go around that otherwise you may not have got another time. Remember it is up to the hotel to accept an offer, and they consider their capacity when accepting an offer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="contact_p">Need more answers? Please <a href="javascript:void(0)">Contact Us</a> !</p>
        </div>
    </ion-content>
</ion-view>