<ion-view view-title="About Treverse">
    <ion-content class="dark_bg user_dashboard">
        <ion-item class="list_page">
            <div class="top_sec">
                <h1>Treverse</h1>
                <p>You stay for the price you want to pay!</p></div>
        </ion-item>
        <ion-list class="item_list">
            <ion-item href="#/app/setting" class="lists">
                Notifications
            </ion-item>
            <ion-item href="#/app/about" class="lists">
                About Treverse
            </ion-item>
            <ion-item href="#/app/terms" class="lists">
                Terms and Conditions
            </ion-item>
            <ion-item href="#/app/privacy" class="lists">
                Privacy Policy
            </ion-item>
            <ion-item href="#/app/faq" class="lists">
                FAQs
            </ion-item>
            <ion-item href="#/app/support" class="lists">
                Support / Feedback
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>