<ion-view view-title="My Account" class="bg_white" ng-controller="dashbord">
    <ion-content class="profile_detail">
        <div class="top_sec">
            <h1>treverse</h1>
            <h2>My Account Dashboard</h2>
            <div class="profile_img">
                <img src="http://codeandcore.com/ourwork/treverse/src/js/controllers/uploads/profile/{{profile}}" alt="">
            </div>
            <h3>{{user_name}} {{l_name}}</h3>
        </div>
        <div class="other_sec">
            <a href="#/app/booking" class="btn_prof">Bookings</a>
            <a href="#/app/client-dashboard" class="btn_prof">Offer History</a>
        </div>
    </ion-content>
</ion-view>
